.h{
    background-color: aqua;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    
}
body {
    background-color: beige;
}
.q1 {

    text-align: center;
    display: none;
    
}
.nile {
border-radius: 10px;
display: block;
margin: auto;
margin-top: 30px;
background-color: aqua;
}
.miss {
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: aqua;
   
    }
    .yang {
        border-radius: 10px;
        display: block;
        margin: auto;
        margin-top: 30px;
        background-color: aqua;
    
        }
        .amazon {
            border-radius: 10px;
            display: block;
            margin: auto;
            margin-top: 30px;
            background-color: aqua;
         
            }
            .yen {
                border-radius: 10px;
                display: block;
                margin: auto;
                margin-top: 30px;
                background-color: aqua;
               
                }

.hh{
    background-color: yellow;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    margin-top: 100px;
}
.bas {
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;

}
.ten{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;

}
.hockey{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;

}
.lax{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;

}
.futbol{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;

}

.q2 {
    align-items: center;
    text-align: center;
    display: none;
    
}
.hhh{
    background-color: lightcoral;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    margin-top: 100px;
    
}
.rob{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightcoral;

}
.adam{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightcoral;

}
.leo{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightcoral;

}
.denzel{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightcoral;

}
.idris{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightcoral;


}
.q3{
    align-items: center;
    text-align: center;
    display: none;
}
.nxt{
    border-radius: 10px;
display: block;
margin: auto;
margin-top: 30px;
background-color: aqua;
}
.nxt1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: yellow;
  
}
.NXT1{
    background-color: aqua;
    padding: 10px;
    border: 3px solid black;
    width: 100px;
    margin:auto;
    margin-top: 100px;
    text-align: center;
    
}
.mainscreen{
    background-color: aqua;
    padding: 10px;
    border: 3px solid black;
    width: 100px;
    margin:auto;
    margin-top: 10px;
    text-align: center;
    
}
.nxtb {
    display: none;
}

.nxtc{
    display: none;
}
.begin{
    background-color: green;
    border-radius: 10px;
}
