.q1{
    align-items: center;
    text-align: center;
    
}
.h{
    background-color: lightslategray;
    padding: 10px;
    border: 5px solid black
    
}
.spiders{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }

.cats{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }
 
.dogs{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;;
    }

.giraffes{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }
.q2{
    align-items: center;
    text-align: center;
    
}
.hh{
    background-color: lightsalmon;
    padding: 10px;
    border: 5px solid black
    
}
.cognac{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.gin{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.brandy{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.wine{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.q3{
    align-items: center;
    text-align: center;
    
}
.hhh{
    background-color: plum;
    padding: 10px;
    border: 5px solid black
    
}
.year{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year2{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year3{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
body{
    background-color: peachpuff;
}
.nxt{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }

.nxt1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.NXT1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.mainscreen{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}