.q1{
    align-items: center;
    text-align: center;
    display: none;
    
}
.h{
    background-color: lightslategray;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    margin-top: 100px;
    
}
.spiders{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }

.cats{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }
 
.dogs{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;;
    }

.giraffes{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }
.q2{
    align-items: center;
    text-align: center;
    display: none;
    
}
.hh{
    background-color: lightsalmon;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    margin-top: 100px;
    
}
.cognac{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.gin{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.brandy{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.wine{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.q3{
    align-items: center;
    text-align: center;
    display: none;
    
}
.hhh{
    background-color: plum;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin:auto;
    margin-top: 100px;
}
.year{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year2{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
.year3{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: plum;
}
body{
    background-color: peachpuff;
}
.nxt{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightslategray;
    }

.nxt1{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: lightsalmon;
}
.NXT1{
    background-color: aqua;
    padding: 10px;
    border: 3px solid black;
    width: 100px;
    margin:auto;
    margin-top: 10px;
    text-align: center;
    
}
.mainscreen{
    background-color: aqua;
    padding: 10px;
    border: 3px solid black;
    width: 100px;
    margin:auto;
    margin-top: 10px;
    text-align: center;
}

.n{
    display: none;
}
.n1{
    display: none;
}

.begin{
    background-color: green;
    border-radius: 10px;
}