h1 {

    color:blue;
    text-align: center;
    font-family: "Mynerve", serif;
}
h2 {
    text-align: center;
    color:aqua;
}

.Easy {
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 30px;
    background-color: green;
    color: antiquewhite;
    border-radius: 10px;


}
.int {
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 30px;
    background-color: yellow;
    border-radius: 10px;
    width: 100px;


}
.hard {
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 30px;
    background-color: red;
    border-radius: 10px;

}
body {
    background-color: black;
}
div {
    color: white;
    background-color: green;
    border-radius: 10px;
    margin: auto;
    width: 50px;
    text-align: center;
    margin-top: 30px;
    
}